<?xml version="1.0" ?>
<robot name="UGV Rover Webots">
  <webots>
    <device reference="d500_lidar" type="Lidar">
      <ros>
        <frameName>lidar</frameName>
        <enabled>true</enabled>
        <updateRate>10</updateRate>
        <topicName>/scan</topicName>
        <alwaysOn>false</alwaysOn>
      </ros>
    </device>

    <device reference="oak_d_lite_camera_rgb" type="Camera">
      <ros>
        <frameName>depth_camera</frameName>
        <enabled>true</enabled>
        <updateRate>10</updateRate>
        <topicName>/depth_camera/rgb</topicName>
        <alwaysOn>false</alwaysOn>
      </ros>
    </device>
    <device reference="oak_d_lite_camera_depth" type="RangeFinder">
      <ros>
        <frameName>depth_camera</frameName>
        <enabled>true</enabled>
        <updateRate>10</updateRate>
        <topicName>/depth_camera/depth</topicName>
        <alwaysOn>false</alwaysOn>
      </ros>
    </device>

    <device reference="arm_link1" type="RotationalMotor">
      <ros>
        <frameName>arm_link1</frameName>
        <enabled>true</enabled>
        <topicName>/arm_link1</topicName>
      </ros>
    </device>

    <device reference="arm_link2" type="RotationalMotor">
      <ros>
        <frameName>arm_link2</frameName>
        <enabled>true</enabled>
        <topicName>/arm_link2</topicName>
      </ros>
    </device>

    <device reference="imx335_camera" type="Camera">
      <ros>
        <frameName>arm_camera</frameName>
        <enabled>true</enabled>
        <updateRate>10</updateRate>
        <topicName>/arm_camera</topicName>
        <alwaysOn>false</alwaysOn>
      </ros>
    </device>

    <plugin type="webots_ros2_driver::Ros2IMU">
      <enabled>true</enabled>
      <updateRate>20</updateRate>
      <topicName>/imu</topicName>
      <alwaysOn>false</alwaysOn>
      <frameName>imu_link</frameName>
      <inertialUnitName>inertial_unit</inertialUnitName>
      <gyroName>gyro</gyroName>
      <accelerometerName>accelerometer</accelerometerName>
    </plugin>

    <plugin type="webots_ros2_control::Ros2Control"/>
  </webots>

  <ros2_control name="WebotsControl" type="system">
    <hardware>
      <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
    </hardware>

    <!-- Wheel motors -->
    <joint name="left_up_wheel_motor">
      <state_interface name="position"/>
      <command_interface name="velocity"/>
    </joint>
    <joint name="left_down_wheel_motor">
      <state_interface name="position"/>
      <command_interface name="velocity"/>
    </joint>
    <joint name="right_up_wheel_motor">
      <state_interface name="position"/>
      <command_interface name="velocity"/>
    </joint>
    <joint name="right_down_wheel_motor">
      <state_interface name="position"/>
      <command_interface name="velocity"/>
    </joint>

    <!-- Arm joints -->
    <joint name="arm_link1_joint">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="arm_link2_joint">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>

  </ros2_control>
</robot>